body{
  height:97vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  transition: background 250ms ease-in-out;
}
div{
  height: 20rem;
  width: 20rem;
  opacity:50%;
  box-shadow: 1rem 1rem 3rem -0.5rem;
  border-radius: 50%;
  background-image: url('rainbow.png');
  background-size: cover;
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
  }
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}